<h1>Bars#show</h1>

<h1><%= @bar.name %></h1>
<h2><%= @bar.address %></h2>
<h2><%= @bar.number %></h2>
<h2><%= @bar.hours %></h2>
<h2><%= @bar.happyhour %></h2>
<h2><%= @bar.photos %></h2>
<h2><%= @bar.website %></h2>
<p>Wifi: <%= @bar.wifi %></p>
<p>Reservations: <%= @bar.reservations %></p>
<p>Games: <%= @bar.games %></p>

<% @reviews.each do |r| %>
    <h2><%= r.title %></h2> 
    <p><%= r.body %></p>
    <p><%= r.user.name %></p>
<% end %>
<%= link_to  "Create Review", new_review_path %><br />
<%= link_to  "Bars near you", bars_path %>



