<h1>Bars#show</h1>

<h1><%= @bar.name %></h1>
<h2><%= @bar.address %></h2>
<h2><%= @bar.number %></h2>
<h2><%= @bar.hours %></h2>
<h2><%= @bar.happyhour %></h2>
<h2><%= @bar.photos %></h2>
<h2><%= @bar.website %></h2>
<p>Wifi: <%= @bar.wifi %></p>
<p>Reservations: <%= @bar.reservations %></p>
<p>Games: <%= @bar.games %></p>




