<div class='jumbotron'>
<h1><%= @review.title %></h1>
<h2><%= @review.body %></h2>
<h3><%= @review.user.name %></h3>

<%= link_to "Add Comment", new_review_comment_path(@review), class: 'btn btn-success' %>
<%= link_to "Edit", edit_review_path(@review), class: 'btn btn-warning' %>
<%= link_to "Delete", review_path(@review), method: :delete, class: 'btn btn-primary' %>
<ul>
   
    <% @review.comments.each do |c| %>
        <li>
            <%= c.body %>
            by: <%= c.user.name %>
             
            <%= link_to 'Edit', edit_review_comment_path(@review, c.id), class: 'btn btn-primary' %>
            
        </li>

    <% end %>
</ul>
</div>
