<div class="navcolor">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">
      <%= link_to image_tag("http://rumroadravings.com/wp-content/uploads/2012/07/glass-of-beer.jpg", width: 50, height: 50), bars_path %>
    </a>
   
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
            <% if logged_in? %>
            
            <li class="nav-item">
            <%= link_to current_user.name, user_path(current_user), class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Log Out', logout_path, method: 'delete', class: 'nav-link' %>
            </li>
            <!-- when you click on delete acct, link user to 'current user path' and use the delete method -->
            <li class="nav-item">
            <%= link_to 'Delete Account', user_path(current_user), method: 'delete', class: 'nav-link' %>
            </li>
            <% else %>
            <li class="nav-item">
              <%= link_to 'Sign Up', new_user_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
            <%= link_to 'Log In', new_session_path, class: 'nav-link' %>
            </li>
            
            <% end %>
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0" action="<%= search_path %>" method ="get">
        <input name="query" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>